:root {
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}
.nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}
.nav-bar h2 {
  font-size: 26px;
  font-weight: bolder;
}
.icon-text {
  display: flex;
  gap: 4px;
}
.all-countries {
  display: grid;
  width: 50vw;
  margin: auto;
  padding-bottom: 5rem;
}
.country-card {
  max-width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 3rem;
  cursor: pointer;
}
.country-card:hover {
  box-shadow: var(--box-shadow);
}

.flag {
  width: 100%;
}
.flag img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.country-info {
  padding: 2rem;
}
.country-info h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 0.8rem;
}
.country-info p {
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
  padding-bottom: 0.8rem;
}
.select-search {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.searching {
  margin-top: 3rem;
  margin-left: 2rem;
}
.searchContainer {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 16px;
  left: 10px;
}

.select-search {
  padding: 1rem 2.3rem;
  font-size: 16px;
  outline: none;
  border-style: none;
  width: 220px;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: var(--box-shadow);
}
input {
  padding: 1rem 2.3rem;
  font-size: 16px;
  outline: none;
  border-style: none;
  width: 460px;
  border-radius: 0.25rem;
}
.links {
  text-decoration: none;
  color: black;
}

p b {
  font-weight: 600;
  line-height: 18px;
}
/* for the single page */
.single-page {
  margin: 3rem auto;
  width: 90vw;
}
.goBack {
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: var(--box-shadow);

  border: none;
  border-radius: 0.25rem;
}
.singleCountry-info {
  padding-top: 1rem;
  display: grid;
}
.single-flag {
  text-align: center;
}
.single-country-flag {
  width: 400px;
  height: 200px;
}
.single-info {
  padding-left: 1rem;
  margin-top: 2rem;
}
.single-info h2 {
  padding-bottom: 1rem;
}
.single-info p {
  padding-bottom: 0.5rem;
}
.important-info {
  padding-bottom: 1rem;
}
.specific-info {
  padding-bottom: 1rem;
}
.border-countries button {
  padding: 0.7rem 0.8rem;
  background-color: white;
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 800px) {
  .all-countries {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 80vw;
  }
  .searching {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 1rem;
    gap: 3rem;
  }
  .singleCountry-info {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .all-countries {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}
@media only screen and (min-width: 1500px) {
  .all-countries {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}
